.bold{
    font-weight: 900;
}
.cur{
    font-style: italic;
}
.font{
    font-family: monospace;
}
.color{
    color: firebrick;
} 
.bg{
    background: lavender;
}
.sublist {
    list-style-type: square;
}
.right-img {
    float: right;         /* прижимаем картинку вправо */
    width: 450px; 
    height: 200px;
}
